<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To do List</title>
</head>

<body>
  <!-- everything js should be inside <% %> these things -->
  <% if(weekday=='Saturday' || weekday=='Sunday' ){ %>
    <h1 style='color:purple'>
      <%= weekday%> ToDo List
    </h1>
    <% } else{ %>
      <h1 style='color:green'>
        <%= weekday%> ToDo List
      </h1>
      <%} %>
</body>

</html>