<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To do List</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div class="container">
    <div class="card">
      <h1>
        <%= weekday %>
      </h1>

      <div class="columns">
        <ul class="column">
          <% newListItems.forEach(item=> { %>
            <form action="/delete" method="post">
              <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                <p>
                  <%=item.name%>
                </p>
              </div>
            </form>
            <% }) %>
        </ul>
      </div>

      <form class="item" action="/" method="POST">
        <input type="text" placeholder="Enter Task" name="newItem">
        <button type="submit" name="button">+</button>
      </form>
    </div>
  </div>
  <br />
  <footer class="container">@strawhatRag</footer>

</body>

</html>